<section>
    <h2>Register</h2>
    <div class="spacer">
        <form action="/user/register" method="POST">
            <label for="username">Username:</label>
            <input id="username" name="username" type="text" value="{{username}}">
            <label for="password">Password:</label>
            <input id="password" name="password" type="password">
            <label for="repeat-password">Repeat password:</label>
            <input type="password" id="repeat-password" name="repeat-password">
            <input type="submit" value="Register">
        </form>
    </div>
</section>